{% extends 'base.html.twig' %}

{% block title %}Ajout d'un utilisateur{% endblock %}
{% block nav %}{{ include('_nav.html.twig') }}{% endblock %}

{% block body %}
<div id="adminFormWrap">
    <h1>Ajout d'un nouvel utilisateur</h1>
    {{form(form)}}
</div>
{% endblock %}