{% extends 'base.html.twig' %}
{% block nav %}{{ include('_nav.html.twig') }}{% endblock %}
{% block title %}Gestion utilisateur{% endblock %}

{% block body %}
    <h1>Gestion utilisateur</h1>

     {{ form(form) }}

  
{% endblock %}