{% extends 'base.html.twig' %}
{% block title %}Statistiques{% endblock %}
{% block nav %}{{ include('_nav.html.twig') }}{% endblock %}
{% block body %}
<h1>Statistiques</h1>
<p>Cette page sera completee apres la refonte visuelle de l'application.</p>
{% endblock %}
