{% extends 'base.html.twig' %}
{% block title %}Erreur 404{% endblock %}

{% block nav %}{{ include('_nav.html.twig') }}{% endblock %}
{% block body %}
    <div id="customError">
        <h2>Cette page n'existe pas, veuillez retourner à l'acceuil</h2>
    </div>
{% endblock %}