{% extends 'base.html.twig' %}
{% block title %}Erreur 500{% endblock %}

{% block nav %}{{ include('_nav.html.twig') }}{% endblock %}
{% block body %}
    <div id="customError">
        <h2>Erreur 500, veuillez contacter l'administrateur du site (Thomas)<h2>
    </div>
{% endblock %}