{% extends 'base.html.twig' %}
{% block title %}Erreur 403{% endblock %}

{% block nav %}{{ include('_nav.html.twig') }}{% endblock %}
{% block body %}
    <div id="customError">
        <h2>Vous n'avez pas les droits pour accéder à cette page</h2>
    </div>
{% endblock %}